@model giflib.ViewModel.GifEditViewModel

@{
    ViewBag.Title = "giflib | Edit Gif";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Error")
<div class="row">
    <div class="col-md-12">
        <h2>Edit Gif</h2>
        <hr />
        @using (Html.BeginForm("Edit", "Gif", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_GifForm")

            <div class="row">
                <div class="col-md-12">
                    <button class="submit" type="submit">
                        <span class="glyphicon glyphicon-save"></span> Update
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="cancel" href="@Url.Action("Detail", "Gif", new {id = Model.Gif.Id})" type="button">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </a>
                </div>
            </div>

        }

    </div>
</div>
