@model giflib.ViewModel.AccountRegisterViewModel

<div class="row text-center">
    <div class="col-md-12">
        @{
            if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary("The following errors were found:", new { @class = "errorTempMessage" })
            }
        }
    </div>
</div>
